
//grid
$container-width: 1140px;

//colors
$color-primary: #ffa500;
$color-secondary: #3232ff;

$color-white: #fff;
$color-black: #000;
$color-grey: #999999;
$color-grey-dark: #404040;
$color-grey-dark2: #333333;

//fonts
$default-font-size: 12px;