
//grid
$container-width: 1140px;

//colors
$color-primary-light: green;
$color-primary-dark: blue;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: grey;

//fonts
$default-font-size: 12px;