.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary, .75),
    rgba($color-black, .9)),
    url(../img/hero-min.jpg);

    background-size: cover;
    background-position: center;

    position: relative;


    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 5rem;
        left: 5rem;
    }

    &__logo {
        height: 12rem;
    }

    @include respond(tab-port) {
        &__logo-box {
            top: 2.5rem;
            left: 2.5rem;
        }
    
        &__logo {
            height: 10rem;
        }
    }

    @include respond(phone) {
        &__logo-box {
            top: 1.5rem;
        }
    
        &__logo {
            height: 8rem;
        }
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}